/Kata02-KarateChop/nbproject/private/
/Kata02-KarateChop/build/
/TheTravelCardProblem/nbproject/private/
/TheTravelCardProblem/build/
/TheTravelCardProblem/dist/
/FizzBuzz/FizzBuzzCodeKata/nbproject/private/