/Kata02-KarateChop/nbproject/private/
/Kata02-KarateChop/build/
/TheTravelCardProblem/nbproject/private/
/TheTravelCardProblem/build/
/TheTravelCardProblem/dist/
/FizzBuzz/FizzBuzzCodeKata/nbproject/private/
FizzBuzz/FizzBuzzCodeKata/FizzBuzzCodeKata.iml
FizzBuzz/FizzBuzzCodeKata/.idea/workspace.xml
FizzBuzz/FizzBuzzCodeKata/.idea/modules.xml
FizzBuzz/FizzBuzzCodeKata/.idea/misc.xml
FizzBuzz/FizzBuzzCodeKata/.idea/encodings.xml
FizzBuzz/FizzBuzzCodeKata/.idea/copyright/profiles_settings.xml
FizzBuzz/FizzBuzzCodeKata/.idea/compiler.xml
FizzBuzz/FizzBuzzCodeKata/.idea/.name